{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
<div class="product-detail">
<img src="{% if product.image %}{{ product.image.url }}{% else %}
{% static "img/no_image.png" %}{% endif %}>
<h1>{{ product.name }}</h1>
<h2>
<a href="{{ product.category.get_absolute_url }}">{{product.category }}</a>
</h2>
<p class="price">${{ product.price }}</p>
<form action="{% url 'cart:cart_add' product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="Korzinkaga qosiw">
    

</form>
{{ product.description|linebreaks }}
</div>

{% if product.ratings.all %}
    <h3>Оценки товара</h3>
    <ul>
      {% for rating in product.ratings.all %}
        <li>{{ rating.rating }} (от {{ rating.user.username }})</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Пока нет оценок для этого товара.</p>
  {% endif %}

  <!-- Форма для оценки товара -->
  <h3>Оценить товар</h3>
<form method="post" action="{% url 'shop:rate_product' product.id product.slug %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Оценить</button>
</form>
{% endblock %}

